<div class="header"> 
        <div class="nav">
            <ul class="clearfix">
                <li class="<%= local.qj?'active':'' %>"><a href="index.html">全局分析</a></li>
                <li class="<%= local.xc?'active':'' %>"><a href="巡查.html">巡查</a></li>
                <li class="<%= local.jw?'active':'' %>"><a href="境外浏览.html">境外浏览</a></li>
                <li class="<%= local.yx?'active':'' %>"><a href="影响力分析.html">影响力分析</a></li>
                <li class="<%= local.al?'active':'' %>"><a href="案例研判.html">案例研判</a></li>
                <li class="<%= local.yj?'active':'' %>"><a href="预警.html">预警</a></li>
                <li class="<%= local.js?'active':'' %>"><a href="检索.html">检索</a></li>
            </ul>
        </div> 
        <div class="logo">
            <h1><a href="index.html"></a></h1>
        </div> 
        <div class="set">
            <div class="exit"><a href="javascript:;"><i class="fa fa-power-off"></i></a></div>
            <div class="user">
                <a class="user-img" href="javascript:;"><img src="../images/fhw.jpg" /></a>
                <a class="user-name" href="javascript:;">aasrgregaerggew</a>
            </div>
            <div class="set-box"><a href="系统属地.html"><i class="fa fa-cog"></i></a></div>
        </div>   
    </div>